.sidebar {
  background-color: #eff0f8;
  max-width: 30%;
}

.icon {
  width: 25px;
  height: 25px;
}

@media screen and (min-width: 499px) {
  .sidebar {
    max-width: 20%;
  }
}
@media screen and (min-width: 799px) {
  .sidebar {
    max-width: 15%;
  }
}
